/* soft Reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{ 
    background-image:url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'); 
    background-size: auto 100vh;
    backdrop-filter: blur(3px); 
    font-family: 'Montserrat', sans-serif; 
    height: 100vh;
    font-size: 14px;
  } 
  /*Breakpoint*/
  /* Se a tela estiver pelo menos 400px vai carregar estes estilos*/
  @media (min-width: 400px) {
    body {
      font-size: 16px;
    }
  }
  /* Se a tela estiver pelo menos 600px vai carregar estes estilos*/
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

  /* Se a tela estiver pelo menos 1200px vai carregar estes estilos*/
  @media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  }

  header{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
  }

.menu {
  background-color: white;
  position: fixed; 
  top: 0;
  width: 100vw; 
}

.menu a {
  display: block;
  padding: 10px 20px;
}

.menu a:hover {
  background-color:#fbf300;
  border-radius: 15px;
  font-size: 1.1em;
}
.menu ul {  
  display: flex; 
  justify-content: space-around; 
} 

.menu li { 
  list-style: none; 
} 

a { 
  color: #282D2D; 
  text-decoration: none; 
} 

a:hover { 
  text-decoration: underline;
} 

.site-subtitle, 
.site-title { 
  color: whitesmoke;
  text-align: center; 
} 

.site-title{
  color:#fbf300;
  font-size: 4em;
  font-family: 'Righteous', cursive;
}

.site-subtitle {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8em;
}

.portfolio{
  height: 100vh;
  background-color:whitesmoke ;
  padding: 2em;
  color: #282D2D; 
}

.portfolio h2{
  font-family: 'Roboto', sans-serif;
  color: #fbf300;
  margin-bottom: 1.5em;
  font-size: 2em;
  text-align: center;
  text-shadow:black 1px 1px 3px;
}

@media (min-width: 560px){
  .portfolio h2{
    text-align: center;  
  }
}

.portfolio .grid{
  display: grid;
  gap: 2em;
}

@media (min-width: 560px){
  .portfolio .grid{
    grid-template-columns: repeat(2, 240px);
    justify-content: center;  
  }
}

@media (min-width: 880px){
  .portfolio .grid{
    grid-template-columns: repeat(3, 260px);
    justify-content: center;
  }
}

.portfolio figure{
  text-align: center;
}

.img-portfolio{
  height: 180px;
  width: 240px;
}

