/* soft Reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{ 
    background-image:url('https://cdn.pixabay.com/photo/2018/03/04/21/43/background-3199325_1280.jpg'); 
    background-size: auto 100vh;
    backdrop-filter: blur(3px); 
    font-family: 'Montserrat', sans-serif; 
    height: 100vh;
    font-size: 14px;
  } 
  /*Breakpoint*/
  /* Se a tela estiver pelo menos 400px vai carregar estes estilos*/
  @media (min-width: 400px) {
    body {
      font-size: 16px;
    }
  }
  /* Se a tela estiver pelo menos 600px vai carregar estes estilos*/
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

  /* Se a tela estiver pelo menos 1200px vai carregar estes estilos*/
  @media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  }

  header{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center; 
  }

.menu{
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

.menu a:hover {
  background-color:#eefafa;
  border-radius: 15px;
  font-size: 1.1em;
}
.menu ul {  
  display: flex; 
  justify-content: space-around; 
} 

.menu li { 
  list-style: none; 
} 

a { 
  color: teal; 
  text-decoration: none; 
} 

a:hover { 
  text-decoration: underline;
} 

.site-subtitle, 
.site-title { 
  color: whitesmoke; 
  text-align: center; 
} 

.site-title{
  font-size: 4em;
  font-family: 'Righteous', cursive;
}

.site-subtitle {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8em;
}

.portfolio{
  padding: 2em;
  color: whitesmoke;
}

.portfolio h2{
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.portfolio .grid{
  display: grid;
  gap: 2em;
}

.portfolio figure{
  text-align: center;
}

.img-portfolio{
  height: 180px;
  width: 240px;
}

